body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #333;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
    margin-top: 90px;
    background-color: #FBFBFB;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    
}

h5{
    margin-top: -12px;
}

label{
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(48, 48, 48);
}

input{
    border: none;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #FBFBFB;
    position: relative;
    top: -10px;
    padding: 5px;
    
}

input:focus {
    outline: none !important;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
}

#password:focus{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#btn{
    border: none;
    background-color: red;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 120px;
    margin-top: 15px;
}

p{
    font-size: small;
}

.line{
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-top: 50px;
}

.icon{
    margin: 0;
    position: relative;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 12px;
    line-height: 25px;
}

.fab{
    position: relative;
    left: 6px;
}

.fb > .fab {
    position:relative;
    left: 8px;
}

h6{
    position:relative;
    top: -8px;
    font-size: 12px;
}

.icon:hover, #btn:hover{
    box-shadow: 0 0 25px rgba(8, 8, 8, 0.2);
    background-color: rgb(182, 49, 93);
}

.navbar {
    width: 100%;
    background-color: rgb(19, 166, 224);
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
    overflow: auto;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .navbar .logo {
      float: left;
      font-size: 20px;
      font-weight: bolder;
  }

  .navbar .special {
      color: rgb(19, 241, 19);
      font-size: 25px;
  }

  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container-image {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none; 
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .active,
  .demo:hover {
    opacity: 1;
  }

  .container-contact input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #fname, 
  #email {
      margin-top: 15px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-contact {
    border-radius: 10px;
    border: 2px solid black;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container-signup{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: #FBFBFB;
    display: flex;
    border: 2px solid black;
    border-radius: 10px; 
}

.footer-p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(19, 166, 224);
    margin-bottom: 0;
    margin-top: 500px;
    font-weight: bolder;
    color: #fff;
}
  